.center-page {position: relative;}

body{
    text-align: center;
}

.carousel {
    width: 55%;
    margin: 0 auto;

    display: flex;
    overflow-x: auto;

    scroll-snap-type: x mandatory;
}

.carousel img {
    min-width: 100%;
    max-width: 100%;
    height: auto;

    scroll-snap-align: center;
}

.back-to-map {
    position: absolute;
    top: 100%; left: 42.5%;
    background-color: #f0f0f0;
    font-size: clamp(9px, 2vw, 20px);
    padding: 1% 2%;
    text-decoration: none;
    color: black;
    border-radius: 5px;
}

.fitting-room {
    position: absolute;
    top: 40%; left: 80%;
    background-color: #f0f0f0;
    font-size: clamp(9px, 2vw, 20px);
    padding: 1% 2%;
    text-decoration: none;
    color: black;
    border-radius: 5px;
}

.self-checkout {
    position: absolute;
    top: 50%; left: 80%;
    background-color: #f0f0f0;
    font-size: clamp(9px, 2vw, 20px);
    padding: 1% 2%;
    text-decoration: none;
    color: black;
    border-radius: 5px;
}

.center {
    position: absolute;
    top: 52%; left: 5.5%;
    background-color: #f0f0f0;
    font-size: clamp(9px, 2vw, 20px);
    padding: 1% 2%;
    text-decoration: none;
    color: black;
    border-radius: 5px;
}

.cashier {
    position: absolute;
    top: 60%; left: 80%;
    background-color: #f0f0f0;
    font-size: clamp(9px, 2vw, 20px);
    padding: 1% 2%;
    text-decoration: none;
    color: black;
    border-radius: 5px;
}

.right-entrance {
    position: absolute;
    top: 40%; left: 1.5%;
    background-color: #f0f0f0;
    font-size: clamp(9px, 2vw, 20px);
    padding: 1% 2%;
    text-decoration: none;
    color: black;
    border-radius: 5px;
}

.left-entrance {
    position: absolute;
    top: 50%; left: 1.5%;
    background-color: #f0f0f0;
    font-size: clamp(9px, 2vw, 20px);
    padding: 1% 2%;
    text-decoration: none;
    color: black;
    border-radius: 5px;
}

.perfume-zone {
    position: absolute;
    top: 60%; left: 1.5%;
    background-color: #f0f0f0;
    font-size: clamp(9px, 2vw, 20px);
    padding: 1% 2%;
    text-decoration: none;
    color: black;
    border-radius: 5px;
}